
Test/bin/Debug/net6.0/Test.deps.json
Test/bin/Debug/net6.0/Test.dll
Test/bin/Debug/net6.0/Test.exe
Test/bin/Debug/net6.0/Test.pdb
Test/bin/Debug/net6.0/Test.runtimeconfig.json
Test/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Test/obj/Debug/net6.0/apphost.exe
Test/obj/Debug/net6.0/ref/Test.dll
Test/obj/Debug/net6.0/refint/Test.dll
Test/obj/Debug/net6.0/Test.AssemblyInfo.cs
Test/obj/Debug/net6.0/Test.AssemblyInfoInputs.cache
Test/obj/Debug/net6.0/Test.assets.cache
Test/obj/Debug/net6.0/Test.csproj.AssemblyReference.cache
Test/obj/Debug/net6.0/Test.csproj.CoreCompileInputs.cache
Test/obj/Debug/net6.0/Test.csproj.FileListAbsolute.txt
Test/obj/Debug/net6.0/Test.dll
Test/obj/Debug/net6.0/Test.GeneratedMSBuildEditorConfig.editorconfig
Test/obj/Debug/net6.0/Test.genruntimeconfig.cache
Test/obj/Debug/net6.0/Test.GlobalUsings.g.cs
Test/obj/Debug/net6.0/Test.pdb
Test/obj/project.assets.json
Test/obj/project.nuget.cache
Test/obj/Test.csproj.nuget.dgspec.json
Test/obj/Test.csproj.nuget.g.props
Test/obj/Test.csproj.nuget.g.targets
Test/Program.cs
Test/Test.csproj
